* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ===========common===========*/
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 50px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

.header-title {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.body-para {
  color: #5f5b53;
  line-height: 1.75; /* 175% */
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

/* ===========header===========*/
.header {
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .header-body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 0.5px 0 0 currentColor;
}

.nav li.active a::after {
  display: block;
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
  margin-left: 49px;
}

/*=====================hero=====================*/
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* =========== hero left ============ */

.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  width: 270px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .items {
  display: flex;
  align-items: center;
}

.hero-summary .items + .items {
}

.hero-summary .items .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8ren;
  font-weight: 600;
  line-height: 1.67;
}

/* ============ hero right ============== */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .CTA-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .video-show {
  cursor: pointer;
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
}

.hero .video-show .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .video-show span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .desc-recent {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 30px; /* 166.667% */
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ========= popular ============ */
.popular {
  padding: 200px 0;
}

/* ======== intro ========= */
.popular .intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .intro .title {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.popular .intro .summary {
  color: #5f5b53;
  width: 67%;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.popular .intro .arrow-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.popular .arrow-left {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #ffb900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.popular .arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #ffb900;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ======== media ========= */
.popular .media {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .item-content {
  padding: 16px 22px 22px;
}

.popular .item img {
  width: 370px;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .item .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .item .title span {
  min-width: 15%;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.popular .item .summary {
  margin-top: 6px;
  margin-bottom: 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.popular .item .cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .cta .btn {
  cursor: pointer;
}

/* ============ Feedback =========== */
.feedback {
  background-color: #2e2100;
}

.feedback-items {
  display: flex;
  padding: 96px 0;
}

.feedback .info,
.review {
  flex-shrink: 0;
}

.feedback .info img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  padding: 6px;
  background-color: #b145f0;
  border: 3px solid rgb(32, 4, 77);
}

.feedback .name {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
  margin-top: 18px;
}

.feedback .job {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.feedback .dots {
  font-size: 6px;
  margin-top: 20px;
  gap: 6px;
  color: #634700;
}

.feedback .dots i:nth-child(2) {
  color: var(--primary-color);
}

.feedback .review {
  width: 63%;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
  margin-left: auto;
}

/*================== Feature ================ */

.feature {
  padding: 96px 0;
  margin-top: 104px;
}

.feature-items {
  display: flex;
}

/* Picture-Box */
.feature .pic-box {
  display: flex;
  min-width: 49%;
  height: 438px;
}

.feature .pic-box img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
}

.feature .pic-box img:nth-child(1) {
  align-self: flex-end;
}
.feature .pic-box img:nth-child(2) {
  margin-left: auto;
}

/* Text-Box */
.text-box-content {
  margin: 58px 0px 58px 130px;
  width: 470px;
}

.feature .text-box .para {
  margin: 16px 0;
}

.text-box .btn {
  margin-top: 32px;
  border-radius: 26px;
  border: none;
  background: #ffb900;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 0px 37px;
  cursor: pointer;
}

/* =================== Feature2 ================== */
.feature2 {
  padding: 104px 0;
}

.feature2-items {
  display: flex;
  justify-content: space-between;
}

.feature2 .text-box {
  width: 570px;
  margin: auto 0;
}

.feature2 .para {
  margin-top: 16px;
}

.feature2 img {
  border-radius: 20px;
}

/* ============ Blog ============== */
.blog {
  margin-top: 96px;
  padding: 96px 0;
  background-color: #fffcf4;
}
.blog-items {
}

.blog .header-title {
  text-align: center;
}

.blog .body-para {
  width: 39%;
  text-align: center;
  margin: 16px auto 0;
  color: #696262;
  line-height: 1.75; /* 175% */
}

.blog-heading {
  margin-bottom: 55px;
}

.blog-news-content {
  display: flex;
  justify-content: space-between;
}

.blog .news-box {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .news-info {
  padding: 20px 20px 28px;
  width: 370px;
  position: relative;
}

.blog .news-info::before {
  content: "";
  width: 160px;
  height: 1px;
  background-color: #e2dfda;
  position: absolute;
  top: 58px;
  left: 20px;
}

.blog .date i {
  color: var(--primary-color);
  font-size: 6px;
}

.blog .date {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; /* 185.714% */
}

.blog .news-title {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  margin: 25px 0 12px;
}

.blog .btn {
  background-color: #ffb900;
  border: none;
  cursor: pointer;
}

.blog .dots {
  justify-content: center;
  gap: 6px;
  margin-top: 38px;
  font-size: 6px;
  display: flex;
}

.blog .dots i:nth-child(2) {
  color: var(--primary-color);
  cursor: pointer;
}
/* ============ Footer ============ */
/* Common */
.column::before {
  content: "";
  width: 130px;
  height: 1px;
  background-color: #59554b;
  position: absolute;
}

.footer-header-title {
  color: #fff;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer-sub-title {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

/* ! */
.footer {
  background-color: #2e2100;
  padding: 96px 0;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #59554b;
  padding-bottom: 26px;
}

/* Column1 */

.footer .column1 h2 {
  width: 267px;
  margin: 18px 0;
}

.footer .social-media-link {
  display: flex;
  font-size: 20px;
  gap: 15px;
  color: #ffffff;
}

/* Column2 */
.footer .column2 {
  position: relative;
  width: 130px;
}

.footer .column2.column::before {
  top: 40px;
  left: 0;
}

.footer .column2 h2 {
  margin-bottom: 43px;
}

.footer .column2 h3 {
  margin-bottom: 12px;
}

/* Column 4 */
.column2.final {
  width: 231px;
}

.column2.final span {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
}
